*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
 #navi{
    background-color: #B6986D;
} 
#ull li:hover a{
    font-size: 50px;
    color: #270D0B;
    
}
#ull li{
    padding-right: 90px;
}
#home{
    background-image: url(./images/nav\ bg.jpg);
    width: 100%;
    height: 85vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
q{
    position: absolute;
    top: 160px;
    left: 1100px;
    font-size: 40px;
    font-style: italic;
    color: #84563C;
}
b{
    color: #5A2C22;
}
@media screen and (max-width:415px){
    q{
        font-size: 20px;
        top: 120px;
        left: 200px;

    }
    .card{
        width: 600px;
        height: 200px;
    }
}
.card{
    box-shadow: 5px 6px 10px gray;
}
.card:hover{
    
    cursor: grab;  
    transform: rotate(360deg);
    transition: all 2s;
}
#icon i:hover{
    transform: translateY(-20px);
}
#bdy{
    background-image: url(./images/bg\ cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #EFE2B2;
    text-shadow: 1px 2px 4px #B6986D;
}
#table{
    color: #EFE2B2;
}
